<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Talking Tech</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Talking Tech 💻</a>
      </h1>
      <em>
       <nav class="navbar">
         <a href="/">Home</a>
         <a href="/dashboard">Dashboard</a>
         {{#if loggedIn}}
         <button id="logout" class="btn-blank">Logout</button>
         {{else}}
         <a href="/login">Login</a>
         {{/if}}
       </nav>
       </em>
    </header>
    <main>
      {{{ body }}}
    </main>
    <b>
      <footer>
        Thanks for Blogging!
      </footer>
    </b>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>