<form class="login-form">
  <div>
    <label for="username-login">Create a Username:</label>
    <input type="text" id="username-login" />
  </div>

  <div>
    <label for="password-login">Create a Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">Signup!</button>
  </div>
</form>

<script src="/javascript/signup.js"></script>