* {
    box-sizing: border-box;
  }
  
  body, html {
    background-color: #B7D3F2;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Raleway",sans-serif;
    color: #333;
    line-height:1.5;
    font-size: 25px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 650;
    margin: 0;
    color: #8A84E2;
    line-height: 1.25;
  }

  .navbar {
    width: 100%;
    font-size: 25px;
  }

  nav a {
    margin: 0 25px;
  }
  
  a {
    text-decoration: none;
    color: #225ca3;
    transition: color .1s;
    font-weight: bold;
  }
  
  a:hover {
    color: #8A84E2;
  }

  p {
    font-size: 1.2rem;
  }
  
  button {
    background-color: #4169e1;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    margin-top: 25px;
    width: 100%;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }

  button-edit {
    background-color: #4169e1;
    width: 50%;
    text-align: center;
    color: white;
    cursor: pointer;
  }

  .edit-button {
    display: flex;
    flex-direction: column;
  }

  .edit-button button {
    margin-bottom: 2%;
  }
  
  button:hover {
    background-color: #3486eb;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }

  .post-list {
    margin-top: 5%;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 0 0 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 100%;
    min-height: 100px;
  }

  /* FORM */
  
  .form-label,
  .form-input,
  .form-textarea {
  display: block;
  }

  /* .form-label {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
  } */

  form label {
    font-size: 1.1rem;
    margin-bottom: 0.5%;
    display: block;
  }
  
  .form-input {
    width: 100%;
    padding: 1%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid #84AFE6;
    border-radius: 0.3rem;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    margin-top: 50px;
  }
  
  header h1 {
    font-size: 2em;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
    margin: 20px auto;
    width: 95%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    transition: color .1s;
  } 
  
  .btn-no-style:hover {
    background: none;
    color: #8A84E2;
  }
  
  .delete-btn {
    background-color: #8A84E2;
  }
  
  .delete-btn:hover {
    background-color: #d41414;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input {
    width: 500px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }

  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }